name: finvu_flutter_sdk
description: "A new Flutter plugin project."
version: 1.0.5
homepage: https://www.finvu.in/
publish_to: none

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  finvu_flutter_sdk_core:
    # for local development uncomment the below line and comment the git line
    # path: ../core
    # for remote development uncomment the git line and comment the path line
    git:
      url: https://github.com/pranad-waghmare/finvu_flutter_sdk.git
      path: core
      ref: 1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  pigeon: ^26.0.2

flutter:
  plugin:
    platforms:
      android:
        package: com.finvu.finvu_flutter_sdk
        pluginClass: FinvuFlutterSdkPlugin
      ios:
        pluginClass: FinvuFlutterSdkPlugin
